<div class="ud-header">
    <h2 class="text-center">Public Chat</h2>
</div>

<div class="container ">

    <div *ngIf="!chatuser || undefined">
        <div class="row inuser">
            <div class=" col-6">
                <input type="text" placeholder="Your name" class="form-control" [(ngModel)]="msgDto.user" />
            </div>
            <div class="col-6">
                <button class="btn btn-sm btn-primary" (click)="setUsername()">Join </button>
            </div>
        </div>
    </div>

    <div *ngIf="chatuser">

        <div class="row">
            <div class="col-12">
                <div class="chatRoom">
                    <div *ngFor="let mObj of msgInboxArray">
                        <div class="row">
                            <div class="col-12">
                                <div class="message-div m-2" [ngClass]="mObj.user === msgDto.user ? 'float-end in-msg' : 'float-start ex-msg'">
                                    <small class="chat-user-name">{{mObj.user}}</small>
                                    <p class="mb-0">{{ mObj.msgText }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <p>Joined as : {{chatuser}}</p>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <input type="text" placeholder="Type Message Here" class="form-control" [(ngModel)]="msgDto.msgText" />
                    </div>
                    <div class="col-4">
                        <button (click)="send()"> <i class="fa fa-paper-plane" aria-hidden="true"></i> </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>